@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

$font-lato = 'Lato', sans-serif;

$col-blackhead = #292929
$col-darkbox-shadow = #1e1e1e
$col-green = #58c93a
$col-white = #ffffff
$col-bordergray = #e1e0e0
$col-articlehead = #4f4e4e
$col-articledesc = #606060
$col-graytbtn = #c2c2c2
$col-navlinks = #818181
$col-rightbarbg = #f8f8f8
$col-address = #a6a6a6
$col-addressstrong = #939292
$col-social = #516fad