*
  margin 0
  padding 0
  box-sizing border-box
h1,h2,h3,h4,h5,h6,p,address,a
  margin 0
  padding 0
html, body
  font-size 14px
  width 100%
.wrapper
  width 100%
  height 100%
  overflow hidden
.row
  &:after, &:before
    display none
ul
  list-style none
a, a:hover, a:focus
  text-decoration none
  background-color transparent !important
